body {
  margin: 0;
  /* max-width: 1170px; */

  color: rgb(19, 19, 19);
  background-color: rgb(229, 229, 236);

  font-size: 16px;

  /* font-family: 'Inter', sans-serif; */
  font-family: 'Josefin Sans', sans-serif;
  /* font-family: 'Oswald', sans-serif; */
  /* font-family: 'Roboto', sans-serif; */

  justify-content: center;
  text-align: center;
}

.navbar {

  background-color: rgb(74, 74, 201);
  color: white;
  font-size: 22px;

  padding-top: 36px;
  padding-bottom: 36px;

  align-items: center;

}

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 75px;

  justify-content: center;
  text-align: center;
  align-items: center;
}

.row-low {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}

ul {
  list-style-type: none;
}


/* geoposition */
.geoposition {
  width: 22.4px;
  height: 22.4px;
  position: relative;
  transform: rotate(45deg);
}

.geoposition:before,
.geoposition:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50% 50% 0 50%;
  background: #0000;
  background-image: radial-gradient(circle 5.6px at 50% 50%, #0000 94%, #ff4747);
}

.geoposition:after {
  animation: pulse-ytk0dhmd 1s infinite;
  transform: perspective(336px) translateZ(0px);
}

@keyframes pulse-ytk0dhmd {
  to {
    transform: perspective(336px) translateZ(168px);
    opacity: 0;
  }
}

/* link hover */
a,.a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  border: none;
  background: none;
}

a::before,.a::before {
  margin-left: auto;
}

a::after,
.a::after,
button::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #3678f4;
  display: block;
  transition: 0.5s;
}

a:hover::after,
.a:hover::after,
a:hover::before {
  width: 100%;
}

/* fade in on load */
@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }

  100% {
    transform: translateY(1000%);
    opacity: 0;
  }
}

.fadeInUp-animation {
  animation: 1.5s fadeInUp;
}
.fadeInUp-animation-backwards{
  animation: 1.5s fadeInDown;
}

/* sunny button */
.sunny-button {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 15px 15px;
  font-size: 17px;
  font-weight: 500;
  color: white;
  text-shadow: none;
  background-color: rgb(74, 74, 201);
  ;
  box-shadow: transparent;
  border: none;
  transition: 0.5s ease;
  user-select: none;
}

.sunny-button:hover {
  color: #ffffff;
  background: #bfd976;
  border: 1px solid #bfd976;
  text-shadow: 0 0 5px #ffffff,
    0 0 10px #ffffff,
    0 0 20px #ffffff;
  box-shadow: 0 0 5px #bfd976,
    0 0 20px #bfd976,
    0 0 50px #bfd976,
    0 0 100px #bfd976;
}

/* search city */
.search {
  font-weight: 500;
  font-size: 15px;
  color: #02006b;
  background-color: rgba(165, 202, 229, 0.485);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5), 0 0 0 15px transparent;
  border-radius: 0.4vw;
  border: none;
  outline: none;
  padding: 0.4vw;
  width: 370px;
  /* max-width: 250px; */
  transition: .4s;
}

.search:hover {
  box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
}

.search:focus {
  box-shadow: 0 0 0 .15vw skyblue;
}

/* search form */

.search_form {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 55px;

  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  margin-left:16px;
  margin-right:16px;

}

/* footer */
footer {
  background-color: rgb(74, 74, 201);
  color: white;
  font-size: 16px;

  padding-top: 36px;
  padding-bottom: 36px;

  align-items: center;

  position: absolute;
  bottom: 0;
  width: 100%;
}

/* loader */
.moveLoaderCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin-bottom: 90px;
}

.loader {
  position: relative;
  height: 200px;
  width: 200px;
  border-bottom: 3px solid #14db35;
  box-sizing: border-box;
  animation: drawLine 4s linear infinite;
}

.loader:before {
  content: "";
  position: absolute;
  left: calc(100% + 14px);
  bottom: -6px;
  width: 16px;
  height: 100px;
  border-radius: 20px 20px 50px 50px;
  background-repeat: no-repeat;
  background-image: linear-gradient(#14db35 6px, transparent 0),
    linear-gradient(45deg, rgba(0, 0, 0, 0.02) 49%, white 51%),
    linear-gradient(315deg, rgba(0, 0, 0, 0.02) 49%, white 51%),
    linear-gradient( to bottom, #ffffff 10%, #14db35 10%, #14db35 90%, #ffffff 90% );
  background-size: 3px 3px, 8px 8px, 8px 8px, 16px 88px;
  background-position: center bottom, left 88px, right 88px, left top;
  transform: rotate(25deg);
  animation: pencilRot 4s linear infinite;
}

@keyframes drawLine {
  0%, 100% {
    width: 0px
  }

  45%, 55% {
    width: 200px
  }
}

@keyframes pencilRot {
  0%, 45% {
    bottom: -6px;
    left: calc(100% + 14px);
    transform: rotate(25deg);
  }

  55%,
  100% {
    bottom: -12px;
    left: calc(100% + 16px);
    transform: rotate(220deg);
  }
}

/* card */
.card {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgba(68, 68, 195, 0.182);
  color: rgb(0, 0, 0);
  align-items: center;
  /* margin-left:500px;
  margin-right:500px; */
  text-align: center;
  border-radius: 10px;

  width: 1024px;
  padding: 15px;
}

.small-box {
  height: 73.3px;

  border-radius: 10px;


  background-color: #fff;
  align-items: center;
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  border: 2px solid rgba(82, 82, 220, 0.544);
  ;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.center_card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center_map{
  /* position: flex; */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-top:16px;

  /* border: 3px solid rgb(247, 12, 12); */
  border-radius: 15px;
  width:950px;
  height:550px;

  align-self: center;

}




.svgComp {
  width: 50px;
  aspect-ratio: 1;
}

.Error {

  background-color: rgba(255, 0, 0, 0.547);
  border: 3px solid rgb(161, 18, 18);

  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;

  margin-bottom: 40px;
  border-radius: 10px;
  color:rgb(255, 255, 255);

  width:250px;
  align-items: center;
  justify-content: center;
  align-self: center;
}


.about{
  /* width:1100px; */
  justify-content: center;
  text-align: left;
  padding-left:300px;
  padding-right: 300px;
}
.resulting_area{
  display: inline-flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap:22px;
}